<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4" id="imageContainer"></h2>
        <form id="uploadForm" enctype="multipart/form-data">
            <div class="form-group">
                <label for="imageInput"></label>
                <input type="file" class="form-control-file" id="imageInput" name="image" />
            </div>
            <button type="button" id="uploadButton" class="btn btn-primary">Upload</button>
        </form>
        <div id="status" class="mt-3"></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQb9ZRA2gM1XQuAKFnjnjO4nKAI9Lx0GTQ+SKLFFw1Bie/HyalC7VvRVS3zmF12X" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyPT8zhOR0aXmLzV9vbB1Rw5j1/6eVO6s+" crossorigin="anonymous"></script>
    <script>document.getElementById('uploadButton').addEventListener('click', function() {
    var formData = new FormData();
    var imageFile = document.getElementById('imageInput').files[0];
    formData.append('image', imageFile);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/upload', true);

    xhr.upload.onprogress = function(e) {
        if (e.lengthComputable) {
            var percentComplete = (e.loaded / e.total) * 100;
            document.getElementById('status').innerHTML = percentComplete + '% uploaded';
        }
    };

   xhr.onload = function() {
    if (this.status == 200) {
        var response = JSON.parse(this.response);
        document.getElementById('status').innerHTML = 'Upload complete: ' + response.file.filename;

        // Add image to the page
        var img = document.createElement('img');
        img.src = '/uploads/' + response.file.filename;
         img.style.width = '200px';
            img.style.height = '200px';
            img.classList.add('img-fluid'); 
         // Adjust the path as necessary
         document.getElementById('imageContainer').appendChild(img);
    } else {
        document.getElementById('status').innerHTML = 'Upload error. Try again.';
    }
};


    xhr.send(formData);
});
</script>
</body>
</html>






